{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Welcome to SHOPEE Store where you can Enjoy your Shopping....
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{ category.name }} - Shopee Store
    {% else %}
        See your amazing shoping
    {% endif %}
{% endblock %}

{% block content %}
{% if category %}
    <div>
        <div class="row my_row_class">
            <div class="mx_auto">
               <p><a href="{% url 'ecoapp:allProCat' %}">Our Product Collection</a></p>
            </div>

        </div>
    </div>
{% endif %}
 <div class="mx_auto">
    {% if category %}
    <img src="{{ category.image.url }}" alt="{{ category.name }}"width="1000" height="500">

 </div>
        <br>
        <div>
        <h1 class="text-center my_title">{{ category.name }}</h1>
        <p class="text-justify">{{ category.description }}</p>
    </div>
    {% else %}
    <div>
    <img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="our products" width="1600px;" height="500px;">
    </div>
            <br>
    <div>
    <h1 class="text-center my_title"> Our Collection</h1>
    <p class="text_justify">It helps the designer plan where the content will sit. It helps in creating drafts of the content on the pages of the website. It originates from the Latin text but is seen as gibberish.

Sometimes, the reader gets distracted while creating or working on the website. That’s why this language is important.This tool makes the work easier for the webmaster.</p>
    </div>
    {% endif %}

    <div class="container">
         <div class="row mx_auto">
             {% for product in products.object_list %}
            <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4" >
                <div class="card text-center" style="min-width:18rem ">
                        <a href="{{ product.get_url }}"><img class="card-img-top my_image" src="{{ product.image.url }}" alt="{{product.name}}"></a>
                    <div class="card-body">
                          <h4>{{ product.name }}</h4>
                        <p>{{ product.price }}</p>
                    </div>
                 </div>
            </div>
        {% endfor %}
        </div>
    <div class="mx_auto">
        {% if products.paginator.num_pages > 1 %}

        {% endif %}<hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
                <a href="?page={{ pg }}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{ pg }}</a>
            {% endfor %}

        </div>
    </div>
    </div>
{% endblock %}